<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<properties resource="/driver.properties">
</properties>
	<!-- Content Model : (properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, 
 reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?) -->
	<!-- 환경 여러 개 있을 수 그 중에서 기본으로 시작되는 환경 -->
	<typeAliases></typeAliases>
	<environments default="emp">
		<environment id="emp">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="/mappers/emp/emp-mapper.xml"/>
	</mappers>
</configuration>

	